:root {
    --primery-text-color: #212121;
    --secondary-text-color: #ffffff;
    --accent-color: #2196f3;
    --secondary-accent-color: #188ce8;
    --logo-black-color: #000000;
    --header-border-color: #ececec;
    --secondary-bg-color: #2f303a;
    --contact-color: #757575;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --elements-bg-color: rgba(255, 255, 255, 0.1);
    --input-border-color: rgba(255, 255, 255, 0.3);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --button-border-color: rgba(0, 0, 0, 0.1);
    --modal-input-border-color: rgba(33, 33, 33, 0.2);
    --secondary-section-bg-color: #f5f4fa;
    --semi-transparent-bg: rgba(47, 48, 58, 0.8);
    --hidden-content-bg-color: rgba(33, 150, 243, 0.9);
    --icon-color: #afb1b8;
  }